table,
th,
td {
  border: 1px solid black;
}
.content {
  display: flex;
  button {
    &.add {
      margin-top: 5px;
      margin-left: 50px;
      height: 30px;
    }
  }
  input {
    margin-left: 50px;
    height: 23px;
    margin-top: 4px;
  }
  select {
    margin-top: 5px;
    margin-left: 50px;
    height: 30px;
  }
  td {
    &.button-delete {
      padding: 10px;
    }
  }
  app-select-search {
    margin-top: -20px;
    margin-left: 35px;
  }
}

.chart {
}
