<form [formGroup]="formGroup" (ngSubmit)="addLikeCoin()">
  <div class="content">
    <table style="width: 600px">
      <tr>
        <th style="min-width: 50px">Name</th>
        <th style="width: 250px">Price</th>
        <th style="width: 100px">1D</th>
        <th style="width: 100px">1W</th>
        <th style="width: 100px">1M</th>
        <th style="width: 100px">1Y</th>
        <th style="width: 100px">Quantity</th>
        <th style="width: 100px">Purchase price</th>
        <th style="width: 100px">Profit and loss</th>
        <th style="width: 100px">Action</th>
      </tr>
      <tr *ngFor="let i of listCoin">
        <td>{{ i.name }}</td>
        <td>
          <label [ngStyle]="{ float: 'right' }"
            >{{ i.ask }} {{ formGroup.value.currency }}</label
          >
        </td>
        <td>
          <label [ngStyle]="{ color: i.day?.color, float: 'right' }"
            >{{ i.day?.value }}%</label
          >
        </td>
        <td>
          <label [ngStyle]="{ color: i.week?.color, float: 'right' }"
            >{{ i.week?.value }}%</label
          >
        </td>
        <td>
          <label [ngStyle]="{ color: i.month?.color, float: 'right' }"
            >{{ i.month?.value }}%</label
          >
        </td>
        <td>
          <label [ngStyle]="{ color: i.year?.color, float: 'right' }"
            >{{ i.year?.value }}%</label
          >
        </td>
        <td>
          <label [ngStyle]="{ float: 'right' }">{{ i.quantity }}</label>
        </td>
        <td>
          <label [ngStyle]="{ float: 'right' }">{{ i.purchasePrice }}</label>
        </td>
        <td>
          <label [ngStyle]="{ color: i.profitandLoss?.color, float: 'right' }"
            >{{ i.profitandLoss?.value }}%</label
          >
        </td>
        <td class="button-delete">
          <button (click)="deleteCoin(i.name)">x</button>
        </td>
      </tr>
    </table>

    <!-- <input formControlName="name" /> -->
    <app-select-search
      [options]="listNameCoin"
      (emitChangeAutoComplete)="emitChangeAutoComplete($event)"
    ></app-select-search>
    <select
      class="form-control"
      formControlName="currency"
      (change)="onChangeSelectCurrency()"
    >
      <option *ngFor="let i of listCurrency" [value]="i">{{ i }}</option>
    </select>
    <input formControlName="quantity" placeholder="target" />
    <button class="add" type="submit">Add</button>
  </div>
  <div class="chart">
    <!-- <app-chart-demo [getbarChartData]="barChartData"></app-chart-demo> -->
  </div>
</form>
