<table style="width: 500px">
  <tr>
    <th style="width: 50px">Name</th>
    <th style="width: 100px">Price</th>
    <th style="width: 100px">1D</th>
    <th style="width: 100px">1W</th>
    <th style="width: 100px">1M</th>
    <th style="width: 100px">1Y</th>
  </tr>
  <tr>
    <td>BCOIN</td>
    <td>
      <label [ngStyle]="{ float: 'center' }">{{ dataBcoin.ask }} USDT</label>
    </td>
    <td>
      <label [ngStyle]="{ color: dataBcoin.day?.color, float: 'right' }"
        >{{ dataBcoin.day?.value }}%</label
      >
    </td>
    <td>
      <label [ngStyle]="{ color: dataBcoin.week?.color, float: 'right' }"
        >{{ dataBcoin.week?.value }}%</label
      >
    </td>
    <td>
      <label [ngStyle]="{ color: dataBcoin.month?.color, float: 'right' }"
        >{{ dataBcoin.month?.value }}%</label
      >
    </td>
    <td>
      <label [ngStyle]="{ color: dataBcoin.year?.color, float: 'right' }"
        >{{ dataBcoin.year?.value }}%</label
      >
    </td>
  </tr>
</table>
